html{
    background-color: lightgray;
}

body{
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: white;
}

h2>a{
    text-decoration: none;
    color: green;
}

h2{
    margin: 0;
}

.red{
    color: red;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 10px 20px 10px 20px;
    transition: 0.5s ease
}

nav>ul>li>a:hover{
    background-color: darkred;
    color: white;
}

.content{
    height: 70%;
    background-color: lightgray;
    padding: 50px;
    display: flex;
}

.text{
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 50px;
}

.pictures{
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
}

.breakfast{
    background-image: url("./images/apple-breakfast-quinoa.jpg");
    flex-grow: 1;
    flex-basis: 0;
}

.lunch{
    background-image: url("./images/pasta-salad-recipe-for-lunch.jpg");
    flex-grow: 1;
    flex-basis: 0;
}

.dinner{
    background-image: url("./images/shrimp-dinner.jpg");
    flex-grow: 1;
    flex-basis: 0;
}

.whiteback{
    background-color: white;
    padding: 5px;
}

.greenback{
    background-color: lightgreen;
    padding: 5px;

}

h3>a{
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease
}

h3>a:hover{
    background-color: darkred;
    color: white;
}