html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    margin: 0;
    background-color: white;
}

h2>a{
    text-decoration: none;
    color: limegreen;
}

h2{
    margin: 0;
    font-family: "Oswald";
    font-size: 30px;
}

.red{
    color: red;
}

.menuButton{
    width: 50px;
    height: 50px;
    display: none;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav>ul>li{
    list-style: none;
    font-family: "Montserrat";
}

nav>ul>li>a{
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 10px 20px 10px 20px;
    transition: 0.5s ease;
}

nav>ul>li>a:hover{
    background-color: darkred;
    color: white;
}

h1{
    font-family: "Bebas Neue";
    font-size: 50px;
    margin: 0px;
}

p{
    font-family: 'Open Sans';
}

.content{
    height: 70%;
    background-image: url(./images/more-leaves-on-green.png);
    padding: 75px;
    display: flex;
}

.text{
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 50px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}

.text > h3 {
    display: flex;
    align-items: center;
}

a > img{
    width: 30px;
    display: inline;
    position: relative;
    top: 9px;
}

.menuDisplay{
    display: flex;
    flex-grow: 3;
    flex-basis: 0;
}

div>a{
    text-decoration: none;
    color: black;
}

.menuImage{
    background-size: cover;
    flex-grow: 1;
    flex-basis: 0;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.breakfast{
    background-image: url("./images/apple-breakfast-quinoa.jpg");
}

.breakfast:hover {
    background-image: 
    linear-gradient(rgba(90, 90, 90, 0.999), rgba(90, 90, 90, 0.999)), 
        url("./images/apple-breakfast-quinoa.jpg");
    background-blend-mode: overlay; 
}

.lunch{
    background-image: url("./images/pasta-salad-recipe-for-lunch.jpg");
}

.lunch:hover {
    background-image: 
    linear-gradient(rgba(90, 90, 90, 0.999), rgba(90, 90, 90, 0.999)),        
    url("./images/pasta-salad-recipe-for-lunch.jpg");
    background-blend-mode: overlay; 
}

.dinner{
    background-image: url("./images/shrimp-dinner.jpg");
}

.dinner:hover {
    background-image: 
        linear-gradient(rgba(90, 90, 90, 0.999), rgba(90, 90, 90, 0.999)), 
        url("./images/shrimp-dinner.jpg");
    background-blend-mode: overlay; 
}

.whiteback{
    background-color: white;
    padding: 5px;
    margin: 0;
}

.greenback{
    background-color: limegreen;
    padding: 5px;
    margin: 0;
}

.freshText{
    padding-left: 39px;
}

.breakfastText{
    padding-left: 17px;
}

.sweetText{
    padding-left: 35px;

}

.lunchText{
    padding-left: 45px;
}

.deliciousText{
    padding-left: 10px;
}

.dinnerText{
    padding-left: 40px;
}

h3{
    font-family: "Oswald";
}

h3>a{
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease
}

h3>a:hover{
    background-color: darkred;
    color: white;
}

@media screen and (max-width: 1200px){
    html, body {
        height: 200vh;
    }
    
    .menuButton{
        display: flex;
    }

    .linkMenu{
        display: none;
    }

    .content{
        flex-direction: column;
        height: 100%;
        padding: 10px;
    }

    .text{
        margin: 0px 0px 5px 0px;
        padding-bottom: 10px;
    }

    .menuDisplay{
        flex-direction: column;
    }
}